     <div
        class="sidebar"
        data-color="purple"
        data-background-color="black"
        data-image="../assets/img/sidebar-2.jpg"
      >
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
  
          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo">
          <a href="{{ path('admin-dashboard') }}" class="simple-text logo-normal">
            ADMINISTRATION
          </a>
        </div>
        <div
          class="sidebar-wrapper ps-container ps-theme-default"
          data-ps-id="e42e0919-82d1-aa0b-b428-babea0e1e0bc"
        >
          <ul class="nav">
            <li class="nav-item {{'dashboard' in  app.request.uri ? 'active':'' }}">
              <a class="nav-link" href="{{ path('admin-dashboard') }}">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
              </a>
            </li>
            <li class="nav-item {{'users' in  app.request.uri ? 'active':'' }} {{'user' in  app.request.uri ? 'active':'' }}">
                <a class="nav-link" href="{{ path('admin-users') }}">
                  <i class="material-icons">supervised_user_circle</i>
                  <p>Voir tout les inscrits</p>
                </a>
              </li>
              <li class="nav-item {{'cards'in  app.request.uri ? 'active':'' }} {{'card' in  app.request.uri ? 'active':'' }}">
                <a class="nav-link" href="{{ path('admin-cards') }}">
                  <i class="material-icons">bookmark</i>
                  <p>Voir toutes les cartes</p>
                </a>
              </li>
              <li class="nav-item {{'decks' in  app.request.uri ? 'active':'' }} {{'deck' in  app.request.uri ? 'active':'' }}">
                <a class="nav-link" href="{{ path('admin-decks') }}">
                  <i class="material-icons">bookmarks</i>
                  <p>Voir tout les decks</p>
                </a>
              </li>
            <li  class="nav-item {{'categories' in  app.request.uri ? 'active':'' }} {{'category' in  app.request.uri ? 'active':'' }}">
                <a class="nav-link" href="{{ path('admin-categories') }}">
                  <i class="material-icons">article</i>
                  <p>Voir les catégories</p>
                </a>
              </li>
              <li  class="nav-item {{'languages' in  app.request.uri ? 'active':'' }} {{'language' in  app.request.uri ? 'active':'' }}">
                <a class="nav-link" href="{{ path('admin-languages') }}">
                  <i class="material-icons">flag</i>
                  <p>Voir les langues</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="material-icons">account_circle</i>
                  <p>Notre deckboard</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('index') }}">
                  <i class="material-icons">home</i>
                  <p>Retour accueil</p>
                </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_logout') }}">
                <i class="material-icons">arrow_right_alt</i>
                <p>Se déconnecter</p>
              </a>
            </li>
          </ul>
          <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px">
            <div
              class="ps-scrollbar-x"
              tabindex="0"
              style="left: 0px; width: 0px"
            ></div>
          </div>
          <div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px">
            <div
              class="ps-scrollbar-y"
              tabindex="0"
              style="top: 0px; height: 0px"
            ></div>
          </div>
        </div>
        <div
          class="sidebar-background"
          style="background-image: url(../assets/img/sidebar-2.jpg)"
        ></div>
      </div>