{% extends "base.html.twig" %}

{% block body %}
  {% for message in app.flashes('success') %}

    <div class="alert alert-success mt-4" role="alert">
       {{ message }}
    </div>

  {% endfor %}

  <div class="row">
    <div class="col-sm">
      <h1>Bienvenue sur Projet Flashcards !</h1>
      <p>Votre espace de travail idéal pour apprendre les langues que vous voulez par le biais du célèbre système de flashcards !</p>
      <p>Projet Flashcards fonctionne sur le principe de l'auto-discipline. Définissez vos propres flashcards et révisez dès maintenant !</p>
      <p>Toute une communauté de linguistes aussi passionnés que vous vous attends. Rejoignez-nous !</p>
      </div>
    <div class="col-sm">
      <h2 class="mb-4">Inscription</h2>
      {{ form_start(form) }}

        <div class="form-group">
          {{ form_label(form.email) }}
          {{ form_widget(form.email, {attr: {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
          {{ form_label(form.password) }}
          {{ form_widget(form.password, {attr: {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
          {{ form_label(form.name, "Pseudo") }}
          {{ form_widget(form.name, {attr: {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
          {{ form_widget(form.image, {attr: {'class': 'form-control-file', 'style': 'opacity:1; z-index:1'}}) }}
          {{ form_label(form.image) }}
        </div>

         {# <div class="form-group">
          {{ form_label(form.language_native) }}

           {% for vars in form.language_native %}
            <div class="form-check">
              {{ form_widget(vars) }}
              {{ form_label(vars) }}
            </div>
          {% endfor %}
        </div> #}

        {# <div class="form-group">
          {{ form_label(form.language_learn) }}

          {% for vars in form.language_learn %}
            <div class="form-check">
              {{ form_widget(vars) }}
              {{ form_label(vars) }}
            </div>
          {% endfor %}
        </div> #}

          {{ form_widget(form.submit, {label: 'Valider', attr: {'class': 'btn btn-primary mt-3'}}) }}
      {{ form_end(form) }}
    </div>
  </div>

{% endblock %}