{% extends "base.html.twig" %}

{% block body %}
  {% for message in app.flashes('success') %}

    <div class="alert alert-success mt-4" role="alert">
       {{ message }}
    </div>

  {% endfor %}

  <div class="row mt-5">
    <div class="col-sm text-white">
      <h1>Bienvenue sur Projet Flashcards !</h1>
      <p>Votre espace de travail idéal pour apprendre les langues que vous voulez par le biais du célèbre système de flashcards !</p>
      <p>Projet Flashcards fonctionne sur le principe de l'auto-discipline. Définissez vos propres flashcards et révisez dès maintenant !</p>
      <p>Toute une communauté de linguistes aussi passionnés que vous vous attends. Rejoignez-nous !</p>
      </div>
    <div class="col-sm">
      {% if not app.user %}
      <h2 class="mb-4">Inscription</h2>
      {{ form_start(form) }}

        <div class="form-group">
          {{ form_label(form.email) }}
          {{ form_widget(form.email, {attr: {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
          {{ form_label(form.password.first) }}
          {{ form_widget(form.password.first, {attr: {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
          {{ form_label(form.password.second) }}
          {{ form_widget(form.password.second, {attr: {'class': 'form-control'}}) }}

          {% for error in errors %}
            <p style="color:red">{{error.message}}</p>
          {% endfor %}
        </div>

        <div class="form-group">
          {{ form_label(form.name, "Pseudo") }}
          {{ form_widget(form.name, {attr: {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
          {{ form_widget(form.image, {attr: {'class': 'form-control-file', 'style': 'opacity:1; z-index:1'}}) }}
          {{ form_label(form.image) }}
        </div>

         {# <div class="form-group">
          {{ form_label(form.language_native) }}

           {% for vars in form.language_native %}
            <div class="form-check">
              {{ form_widget(vars) }}
              {{ form_label(vars) }}
            </div>
          {% endfor %}
        </div> #}

        <div class="form-group">
          {{ form_label(form.language_learn, "Langue que vous voulez apprendre") }}

          {% for vars in form.language_learn %}
            <div class="form-check">
              {{ form_widget(vars) }}
              {{ form_label(vars) }}
            </div>
          {% endfor %}
        </div>

          {{ form_widget(form.submit, {label: 'Valider', attr: {'class': 'btn btn-primary mt-3'}}) }}
      {{ form_end(form) }}
      {% else %}
      
        <div class="card">
          <div class="card-header card-header-info">
            <h2>Bonjour, {{ app.user.name }}.</h2>
          </div>
          <div class="card-body">
            <p><span class="h3">Vous avez :</span><br/>
            <span class="text-white">{{ app.user.decks.count }}</span> deck{% if app.user.decks.count >= 2 %}s{% endif %},</br>
            <span class="text-white">{{ app.user.cards.count }}</span> carte{% if app.user.cards.count >= 2 %}s{% endif %},</br>
            <span class="text-white">{{ app.user.favorites.count }}</span> deck{% if app.user.favorites.count >= 2 %}s{% endif %} favori{% if app.user.favorites.count >= 2 %}s{% endif %}.</p>

             <button class="btn btn-primary"><a class="nav-link" href="{{ path('deckboard') }}">Mon deckboard</a></button>
          </div>
        </div>
      {% endif %}
    </div>
  </div>

{% endblock %}