{% extends "base.html.twig" %}

{% block title %}Contactez-nous !{% endblock %}

{% block body %} {% for flash in
app.flashes('success-message') %}
<div class="alert alert-dismissible alert-secondary">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ flash }}
</div>
{% endfor %}

<div class="row">
  <div class="col-md-8 mt-5">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Contactez-nous</h4>
      </div>
      <div class="card-body">
        {{ form_start(formulaire) }}
            <div class="form-group">
              {{ form_label(formulaire.sender, "Votre nom") }}
              {{form_widget(formulaire.sender, {attr: {'class' :"form-control"}})}}
            </div>
            <div class="form-group">
              {{ form_label(formulaire.email, "Votre adresse email") }}
              {{form_widget(formulaire.email, {attr: {'class' :"form-control"}})}}
            </div>
            <div class="form-group">
              {{ form_label(formulaire.subject, "Sujet") }}
              {{form_widget(formulaire.subject, {attr: {'class' :"form-control"}})}}
            </div>
            <div class="form-group">
              {{ form_label(formulaire.content, "Message") }}
              {{form_widget(formulaire.content, {attr: {'class' :"form-control"}})}}
            </div>
            <div class="form-group">
              {{ form_label(formulaire.Envoyer) }}
              {{form_widget(formulaire.Envoyer, {attr: {'class' :"btn btn-primary"}})}}
            </div>
        {{ form_end(formulaire) }}
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-5">
    <div class="card card-profile">
      <div class="card-avatar">
        <a href="#pablo">
          <img class="img" src="/assets/img/contact.jpg" />
        </a>
      </div>
      <div class="card-body">
        <h6 class="card-category">FlashCards Team</h6>
        <h4 class="card-title">Dites-nous tout !</h4>
        <i class="material-icons">mail_outline</i>
        <p class="card-description text-white">
          Une suggestion ?<br/>Un soucis technique ?<br/>Un petit mot gentil ?
        </p>
        <p class="card-description text-white">Quelque soit l'objet de votre message, notre équipe vous répondra dans les meilleurs délais.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock body%}
