{% extends "base.html.twig" %}

{% block title %}Détails du deck{% endblock %}
{% block body %}

{% for message in app.flashes('success') %}

		<div class="alert alert-success mt-4" role="alert">
			{{ message }}
		</div>

	{% endfor %}

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-info">
            <h3 class="pb-2">Nom : {{ deck.name }}</h3>
          </div>
          <div class="card-body">
            <div class="tab-content table-responsive">
              <div class="tab-pane active">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Status</th>
                      <th>Langue</th>
                      <th>Créée le</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{% if deck.public %} Public {% else %} Privé {%endif%}</td>
                      <td>{{ deck.author.languageLearn.name }}</td>
                      <td>{{ deck.createdAt | date("d/m/Y") }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <p class="card-text">Description : {{ deck.description }}</p>
            <p class="card-text">Tags associés : 
              {% if deck.tags is not null %}
                {{ deck.tags | json_encode()}}
              {% else %} 
                pas de tags.
              {% endif %}
            </p>

            <p class="h3">
              {% set count = 0 %} {% for card in deck.cards %} {% set count =
              count + 1 %} {% endfor %} 
              {% if count == 0 %}
                <p class="text-info">Pas encore de carte.</p>
              {% else %}
                <p class="text-info">{{ count }} cartes associées : </p>
                <div class="table-responsive">
                  <div class="tab-pane active">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Catégorie</th>
                          <th>Question</th>
                          <th>Voir</th>
                          <th>Retirer<br>la carte</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for card in cards %}
                        <tr>
                          <td>{{ card.category.name }}</td>
                          <td>{{ card.question }}</td>
                          <td class="td-actions text-left">
                            <a href="{{ path('card-detail', { id: card.id }) }}"
                              ><button
                                type="button"
                                rel="tooltip"
                                title=""
                                class="btn btn-white btn-link btn-sm"
                              >
                                <i class="material-icons">remove_red_eye</i>
                              </button></a
                            >
                          </td>
                          <td class="td-actions text-left">
                            <a href="{{ path('remove-card-to-deck', { idCard: card.id, idDeck: deck.id }) }}"
                              ><button
                                type="button"
                                rel="tooltip"
                                title=""
                                class="btn btn-white btn-link btn-sm"
                              >
                                <i class="material-icons">remove</i>
                              </button></a
                            >
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
          {% endif %}

            <div class="text-center">
              <form
              method="POST"
              action="{{ path('deck-delete', { id: deck.id }) }}"
              onsubmit="return confirm('Supprimer ce deck ?')"
              >
                <button class="btn btn-danger btn-round">supprimer</button>
                <a href="{{ path('deck-update', { id: deck.id }) }}" type="button" class="btn btn-info btn-round">
                  <span class="material-icons">border_color</span>
                  Modifier
                </a>
              </form>
            </div>
          </div>
        </div>
        <a href="{{ path('deck-gestion') }}" 
          type="button" 
          class="btn btn-primary btn-round">
          <span class="material-icons">keyboard_return</span>
          Retour à la gestion des decks
        </a>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-info">
            <h3 class="pb-2">{% set count = 0 %} {% for card in cards %} {% set count = count + 1 %}
								{% endfor %} {{ count }} Cartes disponible à ajouter</h3>
          </div>
          <div class="card-body">
						<div class="tab-content table-responsive">
							<div class="tab-panel active">
								<table class="table" id="decktable">
									<thead>
										<tr>
											<th class="text-warning" style="cursor: pointer" onclick="sortTable('decktable', 0)">Catégorie<i class="material-icons icon">keyboard_arrow_up</i>
											</th>
											<th class="text-warning" style="cursor: pointer" onclick="sortTable('decktable', 1)">Question<i class="material-icons icon">keyboard_arrow_up</i>
											</th>
											<th class="text-warning" style="cursor: pointer" onclick="sortTable('decktable', 2)">Créée le<i class="material-icons icon">keyboard_arrow_up</i>
											</th>
											<th class="text-warning">Ajouter</th>
											<th class="text-warning">Voir</th>
										</tr>
									</thead>
									<tbody>
										{% for card in paginationCards %}
											<tr>
												<td>{{ card.category.name }}</td>
												<td>{{ card.question |length > 15 ? card.question|slice(0, 15) ~ '...' : card.question }}</td>
												<td>{{ card.createdAt | date("d/m/Y") }}</td>
												<td class="td-actions text-center">
													<a href="{{ path('add-card-to-deck', {idCard: card.id, idDeck: deck.id}) }}">
														<button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm">
															<i class="material-icons">add</i>
														</button>
													</a>
												</td>

												<td class="td-actions text-center">
													<a href="{{ path('card-detail', { id: card.id }) }}">
														<button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm">
															<i class="material-icons">remove_red_eye</i>
														</button>
													</a>
												</td>
											</tr>
										{% endfor %}
									</tbody>
                </table>
                {{ knp_pagination_render(paginationCards) }}

							</div>
						</div>
					</div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}