{% extends "base.html.twig" %}

{% block title %}Gestion des decks{% endblock %}

{% block body %}

  {% for message in app.flashes('success') %}

		<div class="alert alert-success mt-4">
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
              onclick="delete_flash(this)"
            >
              <i class="material-icons">close</i>
            </button>
            <span>
				{{ message }}
            </span>
		  </div>
		  
	{% endfor %}

  <div class="container-fluid">
    <div class="alert alert-success">
      <h2>Gestion des decks de {{ app.user.name }}</h2>
  </div>



		<div class="row">

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
						{% set count = 0 %} 
						{% for deck in decks %} 
							{% set count = count + 1 %}
						{% endfor %} 
						{% if count <= limitNbDecks %}
							<a class="btn btn-primary" 
              href="{{ path('deck-create') }}">
              Créer un nouveau deck</a>
						{% else %}
							<button type="button" class="btn btn-lg btn-primary" disabled>
								Vous avez atteint la limite de {{ limitNbDecks }} Decks
							</button>
						{% endif %}
            
          </div>
        </div>
        <a href="{{ path('deckboard') }}" 
              type="button" 
              class="btn btn-primary btn-round">
              <span class="material-icons">keyboard_return</span>
              Retour au deckboard</a>
      </div>

			<div class="col-md-9"> {# Colonne d'affichage des decks #}
				<div class="card">
					<div class="card-header card-header-tabs card-header-warning">
						<div class="nav-tabs-navigation">
							<p class="h3">
								{% set count = 0 %} {% for deck in decks %} {% set count = count + 1 %}
								{% endfor %} {{ count }} decks créées
							</p>
						</div>
					</div>
					<div class="card-body">
						<div class="tab-content table-responsive">
							<div class="tab-panel active">
								<table class="table" id="deckgestable">
									<thead>
										<tr>
											<th class="text-warning" style="cursor: pointer" onclick="sortTable('deckgestable', 0)">Nom<i class="material-icons icon">keyboard_arrow_up</i>
											</th>
											<th class="text-warning" style="cursor: pointer" onclick="sortTable('deckgestable', 1)">Status<i class="material-icons icon">keyboard_arrow_up</i>
											</th>
											<th class="text-warning" style="cursor: pointer" onclick="sortTable('deckgestable', 2)">Créée le<i class="material-icons icon">ikeyboard_arrow_up</i>
											</th>
											<th class="text-warning" style="cursor: pointer" onclick="sortTable('deckgestable', 3)">Nombre de<br>cartes<i class="material-icons icon">keyboard_arrow_up</i>
											</th>
                      						<th class="text-warning" style="cursor: pointer" onclick="sortTable('deckgestable', 4)">Langue<i class="material-icons icon">keyboard_arrow_up</i>
											</th>
											<th class="text-warning">Voir</th>
										</tr>
									</thead>
									<tbody>
										{% for deck in paginationDecks %}
											<tr>
												
												<td>{{ deck.name }}</td>
                        <td>
                          {% if deck.public %}
                            Public
                          {% else %}
                            Privé
                          {% endif %}
                        </td>
												<td>{{ deck.createdAt | date("d/m/Y") }}</td>
												<td>
													{% set count = 0 %}{% for card in deck.cards %}{% set  count = count + 1 %}{% endfor %}
													{{ count }}
												</td>
                        <td>{{ deck.author.languageLearn.name }}</td>

												<td class="td-actions text-right">
													<a href="{{ path('deck-detail', { id: deck.id }) }}">
														<button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm">
															<i class="material-icons">remove_red_eye</i>
														</button>
													</a>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
								{{ knp_pagination_render(paginationDecks) }}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{# </div> #}


{% endblock %}