{% extends "base.html.twig" %}

{% block body %}

		<div class="container-fluid">

			<div class="alert alert-success">
				<h2>Deckboard de {{ app.user.name }}</h2>
			</div>

			<div class="row">
				<div class="col-md-6"> {# Colonne contenant section "cartes" et "decks" #}
					<div class="card"> {# Section "cartes"#}
						<div class="card-header card-header-primary">
							<h2 class="card-title">Cartes</h2>
						</div>

						<div class="card-body">
							{% if not last_card %} {# Si aucune carte présente en BDD, cards == null #}
									<a href="{{ path('card-gestion') }}" type="button" class="btn btn-lg btn-primary">Veuillez créer votre première carte :)</a>
							{% endif %}

							{% if last_card %}

								<div class="card-header card-header-default"> {# Carte au détail #}
									<div class="row">
										<h3>Dernière carte créée :</h3>
										<div class="tab-content table-responsive">
											<div class="tab-panel active">
												<table class="table">
													<thead>
														<tr>
															<th>Catégorie</th>
															<th>Question</th>
															<th>Réponse</th>
															<th>Créée le</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>{{ last_card.category.name }}</td>
															<td>{{ last_card.question }}</td>
															<td>{{ last_card.answer }}</td>
															<td>{{ last_card.createdAt | date("d/m/Y") }}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										{% if last_card %}
											<a href="{{ path('card-gestion') }}" type="button" class="btn btn-lg btn-primary">
											<i class="material-icons">view_agenda</i>
											Gestion des cartes</a>
										{% endif %}
									</div>
								</div> {# Fin Carte au détail #}
							{% endif %}
						</div>
					</div> {# Fin Section "cartes"#}

					<div class="card"> {# Section "decks"#}
						<div class="card-header card-header-info">
							<h2 class="card-title">Decks</h2>
						</div>

						<div class="card-body">

							{% if last_deck %}

								<div class="card-header card-header-default"> {# deckau détail #}
									<div class="row">
										<h3>Dernier deck créé :</h3>
										<h5>Nombre de cartes dans le dernier deck : 
											{% set count = 0 %} {% for card in last_deck.cards %} {% set count = count + 1 %}{% endfor %} 
											{{ count }} cartes.
										</h5>
										<div class="tab-content table-responsive">
											<div class="tab-panel active">
												<table class="table">
													<thead>
														<tr>
															<th>Nom</th>
															<th>Description</th>
															<th>Créé le</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>{{ last_deck.name }}</td>
															<td>{{ last_deck.description }}</td>
															<td>{{ last_deck.createdAt | date("d/m/Y") }}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
												
											<a href="{{ path('deck-gestion') }}" type="button" class="btn btn-lg btn-primary">
											<i class="material-icons">all_inbox</i>
											Gestion des decks</a>
									</div>
								</div> {# Fin Deck au détail #}

							{% endif %}

							{% if not last_card %} {# Si aucune carte présente en BDD cards == null #}
									<a href="#" type="button" class="btn btn-lg btn-info">Veuillez créer votre première carte <br>AVANT de créer votre premier deck</a>
							{% elseif last_card and not last_deck %}
									<a href="#" type="button" class="btn btn-lg btn-info"><i class="material-icons">all_inbox</i>Créer votre premier deck</a>
              {% endif %}
						</div>
					</div>{#  Fin Section "decks"#}
				</div>
				<div class="col-md-6">
				

					<div class="card"> {# Section "révision" #}
						<div class="card-header card-header-primary">
							<h2 class="card-title">Révision</h2>
						</div>
						<div class="card-body">
						{% if not last_deck and not has_favs %}
							<h3>
								<a href="#" type="button" class="btn btn-lg btn-info">Veuillez créer un deck<br>AVANT de lancer une révision</a>
							</h3>
						{% else %} 

							<div class="dropdown">
								<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Choisissez un deck.
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								{% for un_deck in list_deck %}
									<a class="dropdown-item" href="{{
											path('revision', { deckId: un_deck.id })
											}}">Réviser votre deck {{un_deck.name}}</a>
								{% endfor %}
								{% if list_deck_favoris %}
									{% for un_deck in list_deck_favoris %}
										<a class="dropdown-item" href="{{
											path('revision', { deckId: un_deck.id })
											}}">Réviser le deck favori {{un_deck.name}}</a>
									{% endfor %}
								{% endif %}
								</div>
							</div>
						

						{% endif %} 
						</div>
					</div>
						<div class="card"> {# Section "quiz" #}
							<div class="card-header card-header-info">
								<h2 class="card-title">Quiz</h2>
							</div>
						<div class="card-body">
						{% if not last_deck and not has_favs %}
							<h3>
								<a href="#" type="button" class="btn btn-lg btn-info">Veuillez créer un deck<br>AVANT de lancer un quiz</a>
							</h3>
						{% else %}
							<div class="dropdown">
								<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Choisissez un deck.
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								{% for un_deck in list_deck %}
									<a class="dropdown-item" href="{{
											path('quiz', { deckId: un_deck.id })
											}}">Quiz sur votre deck {{un_deck.name}}</a>
								{% endfor %}
								{% if list_deck_favoris %}
									{% for un_deck in list_deck_favoris %}
										<a class="dropdown-item" href="{{
											path('quiz', { deckId: un_deck.id })
											}}">Quiz sur le deck favori {{un_deck.name}}</a>
									{% endfor %}
								{% endif %}
								</div>
							</div>

						{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>


{% endblock %}
