{% extends "base.html.twig" %}

{% block title %}Rechercher{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6"> {# Liste des decks, avec boutons mise en favori et consulter en détail #}
                <div class="card">
                    <div class="card-header card-header-primary">
											<h2 class="card-title">
												{% if not jeCherche %}
													Tous les decks externes ({{deck_all|length}}) {% else %}{{ deck_all|length }} résultats.
												{% endif %}
											</h2>
										</div>

										<div class="card-body">
                    	{% if deck_all|length == 0 %} {# Si il n'y a pas de decks #}
												<p>Aucun deck ne correspond aux critères spécifiés.</p>
											{% else %}

												<div class="card-header card-header-default"> 
													<div class="row">
														<h3>Résultats de votre recherche :</h3>
														<div class="tab-content table-responsive">
              								<div class="tab-panel active">
																<table class="table" id="decktable">
																	<thead>
																		<tr>
																			<th class="text-primary" style="cursor: pointer" onclick="sortTable('decktable', 0)">Nom<br/><i class="material-icons icon">keyboard_arrow_up</i></th>
																			<th class="text-primary" style="cursor: pointer" onclick="sortTable('decktable', 1)">Langue<br/><i class="material-icons icon">keyboard_arrow_up</i></th>
																			<th class="text-primary" style="cursor: pointer" onclick="sortTable('decktable', 2)">Description<br/><i class="material-icons icon">keyboard_arrow_up</i></th>
																			<th class="text-primary" style="cursor: pointer" onclick="sortTable('decktable', 3)">Favori ?<br/><i class="material-icons icon">keyboard_arrow_up</i></th>
																			<th class="text-primary">Voir</th>
																		</tr>
																	</thead>
																	<tbody>
																		{% for deck in deck_all %}
																		<tr>
																			<td><a href="{{
																				path('rechercherDeck', { deckId: deck.id })
																				}}">{{ deck.name }}</a></td>
																			<td>{{ deck.author.languageLearn.name }}</td>
																			<td>{{ deck.description }}<br>
																			Créé par {{ deck.author.name }} le{{ deck.createdAt | date("d/m/Y") }}</td>
																			{% if deck in favs_deck_all %}
																			<td><button type="button" class="btn btm-sm btn-success">Oui</button></td>
																			{% else %}
																			<td><button type="button" class="btn btm-sm btn-danger">Non</button></td></td>
																			{% endif %}
																			<td><a href="{{
																				path('rechercherDeck', { deckId: deck.id })
																				}}"><button
																				type="button"
																				rel="tooltip"
																				title=""
																				class="btn btn-white btn-link btn-sm"
																			>
																				<i class="material-icons">remove_red_eye</i>
																			</button></a></td>
																		</tr>
																		{% endfor %}
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
											{% endif %}
                    </div>
                	</div>
            		</div>

            <div class="col-md-6"> {# Formulaire pour affiner la recherche + liste des decks favoris de l'utilisateur #}
              <div class="card">
								<div class="card-header card-header-info">
									<h2 class="card-title">Rechercher</h2>
								</div>
								<div class="card-body">
									<div class="form-group">
										<label for="exampleInput1" class="bmd-label-floating">Quel deck recherchez-vous ?</label><br/>
										<input type="text" class="uneRecherche form-control" id="exampleInput1">
										<input type="submit" class="btn btn-primary" value="Lancer la Recherche !" 
											{% if not jeCherche %}
												onclick="lancerRecherche()"
											{% else %}
												onclick="relancerRecherche()"
											{% endif %}
										>
									</div>
								</div>
							</div>
				
							<div class="card">
                <div class="card-header card-header-primary">
									<h2 class="card-title">
										{% if favs_deck_all|length == 1 %}
											Vous avez 1 deck favori.
										{% else %}
											Vous avez {{ favs_deck_all|length }} decks favoris.
										{% endif %}
									</h2>
								</div>

                <div class="card-body">
                  {% if favs_deck_all|length == 0 %} {# Si il n'y a pas de decks favoris #}
										<p>Vous n'avez aucun deck en favori.</p>
									{% else %}
										<div class="card-header card-header-default"> 
											<div class="row">
												<h3>Vos decks favoris :</h3>
												<div class="tab-content table-responsive">
              						<div class="tab-panel active">
														<table class="table">
															<thead>
																<tr>
																	<th>Nom</th>
																	<th>Langue</th>
																	<th>Description</th>
																	<th>Auteur</th>
																	<th>Créé le</th>
																</tr>
															</thead>
															<tbody>
																										{% for deck in favs_deck_all %}
																<tr>
																	<td><a href="{{
																		path('rechercherDeck', { deckId: deck.id })
																		}}">{{ deck.name }}</a></td>
																	<td>{{ deck.author.languageLearn.name }}</td>
																	<td>{{ deck.description }}</td>
																	<td>{{ deck.author.name }}</td>
																	<td>{{ deck.createdAt | date("d/m/Y") }}</td>
																</tr>
																										{% endfor %}
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
                            {% endif %}
                </div>
            	</div>
        </div>
    </div>
{% endblock %}
