{% extends "base.html.twig" %} 

{% block title %}Révision{% endblock %}

{% block attributBody %} onload="initialiseRevision()" {% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="card mt-5">
            <div class="card-header card-header-primary">
				<h2 class="card-title">Révision</h2>
			</div>
            {% set compteur = 0 %}
            {% set allcompteur = 0 %}{% for q in cartes %} {% set allcompteur = allcompteur + 1 %} {% endfor %}
            {% for q in cartes %}
            <div class="uneCarteRevision card-body text-center">
                
                <div class="form-group">
                    <h3>Carte numéro <span class="numeroRevision">{{ compteur +1 }} sur {{ allcompteur }}</span></h3>
                    <h2 class="text-info font-weight-bold"><u>{{ q.question }}</u></h2>
                    <h4 class="font-italic">se dit...</h4>
                    <h2 class="text-success font-weight-bold"><u>{{ q.answer }} !</u></h2>
                    <div class="navRevision form-group mt-5">
                        <button class="btn btn-primary rev-precedent mr-3 btn-lg" role="button" onclick="RevisionNavigation({{compteur}},'precedent')">
                            <span class="material-icons">arrow_back_ios</span>
                            Précédent
                        </button>
                        <button class="btn btn-primary rev-suivant ml-3 btn-lg" role="button" onclick="RevisionNavigation({{compteur}},'suivant')">
                            Suivant
                            <span class="material-icons">arrow_forward_ios</span>
                        </button>
                    </div>
                </div>
            </div>
            {% set compteur = compteur + 1 %}
            {% endfor %} 
            <div class='card-footer justify-content-center'> 
                <div class="form-group d-flex justify-content-center flex-wrap">
                    <button class="btn btn-info recom-button mr-3" role="button" onclick="location.reload()" disabled>
                        <span class="material-icons">history</span>
                        Recommencer
                    </button>
                    <a href="{{ path('deckboard') }}" 
                       type="button" 
                       class="btn btn-primary btn-round ml-3">
                       <span class="material-icons">keyboard_return</span>
                       Retour au deckboard
                    </a>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}