{% extends "base.html.twig" %}

{% block title %}Signaler un deck.{% endblock %}

{% block body %}

{% for message in app.flashes('info') %}

<div class="alert alert-success mt-4">
  <button
    type="button"
    class="close"
    data-dismiss="alert"
    aria-label="Close"
    onclick="delete_flash(this)"
  >
    <i class="material-icons">close</i>
  </button>
  <span>
    {{ message }}
  </span>
  </div>

{% endfor %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-info">
            <h3 class="pb-2">Nom : {{ deck.name }}</h3>
          </div>
          <div class="card-body">
            <div class="tab-content table-responsive">
              <div class="tab-pane active">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Status</th>
                      <th>Langue</th>
                      <th>Créée le</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{% if deck.public %} Public {% else %} Privé {%endif%}</td>
                      <td>{{ deck.author.languageLearn.name }}</td>
                      <td>{{ deck.createdAt | date("d/m/Y") }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <p class="card-text">Description : {{ deck.description }}</p>
            <p class="card-text">Tags associés : {{ deck.tags|json_encode() }}</p>

            <p class="h3">
              {% set count = 0 %} {% for card in deck.cards %} {% set count =
              count + 1 %} {% endfor %} 
              {% if count == 0 %}
              <p class="text-info">Pas encore de carte.</p>
              {% else %}
              {{ count }} cartes associées :
            </p>
            <div class="tab-content table-responsive">
              <div class="tab-panel active">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Catégorie</th>
                      <th>Question</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for card in deck.cards%}

                    <tr>
                      <td>{{ card.category.name }}</td>
                      <td>{{ card.question }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          {% endif %}
            <div class="text-center">
              
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-info">
                <h3 class="pb-2">Signaler ce deck.</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label class="bmd-label-floating">Pourquoi signalez-vous ce deck ?</label>
                    <input type="text" class="form-control" id="text-signalement" name="text-signalement" for="text-signalement" required>
                </div>
                
                {# idée s'il y a un futur : rajouter un captcha ici. #}

                    <a href="{{ path('deck-signale', { deckId: deck.id }) }}" type="button" class="btn btn-primary">Signaler</a>
                <div class="tab-content">
					<div class="tab-panel active">
                        <a href="{{ path('rechercher') }}" type="button" class="btn btn-info">Retour aux recherches</a>
					</div>
				</div>

            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}