{% extends './pages/administration/admin.base.html.twig'%}
{% block title %}Catégorie{% endblock %}
{% block body %}

<div class="content">
  <div class="container-fluid">
    <div class="col-lg-12 col-md-12">
      <div class="card card-stats">
        <div class="card-header card-header-info card-header-icon">
          <div class="card-icon">
            <i class="material-icons">article</i>
          </div>
          <p class="h3 card-title text-white text-left">{{ category.name }}</p>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons text-info">article</i>
            <a href="{{ path('admin-categories') }}" class="info-link"
              >Retour à la liste</a
            >
          </div>
        </div>
        <div class="card-body">
          {% set count = 0 %} {% for card in cards %}{% if
          card.category.id == category.id %}{% set count = count + 1
          %}{%endif%}{%endfor%}
          {% if count == 0 %}
          <p class="h6 card-category text-left">
           Pas de carte concernée.
          </p>
          {% else %}
          <p class="h6 card-category text-left">
            {{ count }} carte(s) concernée(s)
          </p>
          <div class="tab-content table-responsive">
            <div class="tab-panel active">
              <table class="table text-left" id="categorietable">
                <thead>
                  <tr>
                    <th
                      class="text-info"
                      style="cursor: pointer"
                      onclick="sortTable('categorietable', 0)"
                    >
                      ID carte<i class="material-icons icon">keyboard_arrow_up</i>
                    </th>
                    <th
                      class="text-info"
                      style="cursor: pointer"
                      onclick="sortTable('categorietable', 1)"
                    >
                      Auteur<i class="material-icons icon">keyboard_arrow_up</i>
                    </th>
                    <th
                      class="text-info"
                      style="cursor: pointer"
                      onclick="sortTable('categorietable', 2)"
                    >
                      Langue<i class="material-icons icon">keyboard_arrow_up</i>
                    </th>
                    <th
                      class="text-info"
                      style="cursor: pointer"
                      onclick="sortTable('categorietable', 3)"
                    >
                      Question<i class="material-icons icon">keyboard_arrow_up</i>
                    </th>
                    <th
                      class="text-info"
                      style="cursor: pointer"
                      onclick="sortTable('categorietable', 4)"
                    >
                      Créée le<i class="material-icons icon">keyboard_arrow_up</i>
                    </th>
                    <th class="text-info">Voir</th>
                  </tr>
                </thead>
                <tbody>
                  {% for card in cards %}{% set count = 0 %} {% if card.category.id
                  == category.id %}
                  <tr>
                    <td>{{ card.id }}</td>
                    <td>
                      <a href="{{ path('admin-user', { id: card.author.id }) }}">{{
                        card.author.name
                      }}</a>
                    </td>
                    <td>
                      <a
                        href="{{
                          path('language-details', {
                            id: card.author.languageLearn.id
                          })
                        }}"
                        >{{ card.author.languageLearn.name }}</a
                      >
                    </td>
                    <td>
                      {{ card.question|length > 10 ? card.question|slice(0, 10) ~ '...' : card.question}}
                    </td>
                    <td>{{card.createdAt | date("d/m/Y") }}</td>
                    <td class="td-actions text-left">
                      <a href="{{ path('admin-card', { id: card.id }) }}"
                        ><button
                          type="button"
                          rel="tooltip"
                          title=""
                          class="btn btn-white btn-link btn-sm"
                        >
                          <i class="material-icons">remove_red_eye</i>
                        </button></a
                      >
                    </td>
                  </tr>
                  {% endif %} {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
