{% extends './pages/administration/admin.base.html.twig'%} {%block body%}

<div class="content">
  <div class="container-fluid">
    <div>
      <div class="card">
        <div class="card-header card-header-tabs card-header-primary">
          <p class="h3">Catégories</p>
            <p class="card-category">
              <i class="material-icons">add</i>
              <a href="{{path('category-create') }}">Ajouter</a>
            </p>
        </div>
        <div class="card-body">
          <div class="tab-content table-responsive">
            <div class="tab-panel active">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-primary">ID</th>
                    <th class="text-primary">Nom</th>
                    <th class="text-primary">Cartes concernées</th>
                    <th class="text-primary">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for category in categories %}
                  <tr>
                    <td>{{ category.id }}</td>
                    <td> <a
                      href="{{
                        path('category-details', { id: category.id })
                      }}"
                      >{{ category.name }}</a></td>
                    <td>
                      {% set count = 0 %} {% for card in category.cards %} {%
                      set count = count + 1 %} {% endfor %} {{ count }}
                    </td>
                    <td class="td-actions text-center">
                      <button
                      type="button"
                      rel="tooltip"
                      title="Supprimer"
                      class="btn btn-white btn-link btn-sm"
                    >
                      <a
                        href="{{
                          path('category-edit', { id: category.id })
                        }}"
                        ><i class="material-icons">edit</i></a
                      >
                    </button>
                    <button
                      type="button"
                      rel="tooltip"
                      title="Supprimer"
                      class="btn btn-white btn-link btn-sm"
                    >
                      <a
                        href="{{
                          path('category-delete', { id: category.id })
                        }}"
                        ><i class="material-icons">close</i></a
                      >
                    </button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
