{% extends './pages/administration/admin.base.html.twig'%}
{% block title %}Dashboard administrateur{% endblock %}
{% block body %}

<div class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Derniers messages reçus</h4>
        <p class="card-category text-white">
          {% set count = 0 %} {% for message in allMessages %} {% set
            count = count + 1 %} {% endfor %}
          {% if count == 0 %}
          Vous n'avez aucun message
          {% else %}
          <a href="{{ path('admin-messages') }}" class=" text-white">Voir tous les messages 
              (total : {{ count }})
            </a>
          {% endif %}
        </p>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="text-primary">ID</th>
              <th class="text-primary">Expéditeur</th>
              <th class="text-primary">Email</th>
              <th class="text-primary">Sujet</th>
              <th class="text-primary">Contenu</th>
              <th class="text-primary">Reçu le</th>
            </tr>
          </thead>
          <tbody>
            {% for message in messages %}
            <tr>
              <td>{{ message.id }}</td>
              <td>{{ message.sender }}</td>
              <td>{{ message.email }}</td>
              <td>{{ message.subject }}</td>
              <td>{{ message.content }}</td>
              <td>{{message.createdAt | date("d/m/Y") }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Derniers inscrits</h4>
            <p>
              (total : {% set count = 0 %} {% for user in allUsers %} {% set
              count = count + 1 %} {% endfor %}
              {{ count }}
              )
            </p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <tr>
                  <th>ID</th>
                  <th>Nom</th>
                  <th>Langue mat.</th>
                  <th>Apprend le</th>
                  <th>Inscrit depuis</th>
                  <th>Cartes créées</th>
                  <th>Decks crées</th>
                </tr>
              </thead>
              <tbody>
                {% for user in users %}
                <tr>
                  <td>{{ user.id }}</td>
                  <td>
                    <a href="{{ path('admin-user', { id: user.id }) }}">{{ user.name }}</a>
                  </td>
                  <td>
                    <a href="{{ path('language-details', { id: user.languageNative.id }) }}">{{ user.languageNative.name }}</a>
                  </td>
                  <td>
                    <a href="{{ path('language-details', { id: user.languageLearn.id }) }}">{{ user.languageLearn.name }}</a>
                  </td>
                  <td>{{user.createdAt | date("d/m/Y") }}</td>
                  <td class="text-center">
                    {% set count = 0 %} {% for card in user.cards %} {% set
                    count = count + 1 %} {% endfor %}
                    {{ count }}
                  </td>
                  <td class="text-center">
                    {% set count = 0 %} {% for deck in user.decks %} {% set
                    count = count + 1 %} {% endfor %}
                    {{ count }}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Dernières cards</h4>
            <p>
              (total : {% set count = 0 %} {% for card in allCards %} {% set
              count = count + 1 %} {% endfor %} {{ count }})
            </p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <tr>
                  <th>ID</th>
                  <th>Langue</th>
                  <th>Catégorie</th>
                  <th>Créé le</th>
                  <th>Auteur</th>
                </tr>
              </thead>
              <tbody>
                {% for card in cards %}
                <tr>
                  <td>
                    <a href="{{ path('admin-card', { id: card.id }) }}">{{ card.id }}</a>
                  </td>
                  <td><a href="{{ path('language-details', { id: card.author.languageLearn.id }) }}">{{ card.author.languageLearn.name }}</td></a>
                  <td><a href="{{ path('category-details', { id: card.category.id }) }}">{{ card.category.name }}</a></td>
                  <td>{{card.createdAt | date("d/m/Y") }}</td>
                  <td><a href="{{ path('admin-user', { id: card.author.id }) }}">{{ card.author.name }}</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Derniers decks</h4>
            <p>
              (total : {% set count = 0 %} {% for deck in allDecks %} {% set
              count = count + 1 %} {% endfor %} {{ count }})
            </p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <tr>
                  <th>ID</th>
                  <th>Nom</th>
                  <th>Langue</th>
                  <th>Créé le</th>
                  <th>Auteur</th>
                </tr>
              </thead>
              <tbody>
                {% for deck in decks %}
                <tr>
                  <td>{{ deck.id }}</td>
                  <td>
                    <a href="{{ path('admin-deck', { id: deck.id }) }}">{{ deck.name }}</a>
                  </td>
                  <td><a href="{{ path('language-details', { id: deck.author.languageLearn.id }) }}">{{ deck.author.languageLearn.name }}</a></td>
                  <td>{{ deck.createdAt | date("d/m/Y") }}</td>
                  <td><a href="{{ path('admin-user', { id: deck.author.id }) }}">{{ deck.author.name }}</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock body %}
