{% extends './pages/administration/admin.base.html.twig'%} {%block body%}

<div class="content">
  <div class="container-fluid">
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <p class="h4 card-header card-header-info">Nom : {{ deck.name }}</p>

        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Auteur</th>
                    <th>Langue</th>
                    <th>Créée le</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ deck.id }}</td>
                    <td><a href="{{ path('admin-user', { id:  deck.author.id }) }}">{{ deck.author.name }}</a></td>
                    <td>{{ deck.author.languageLearn.name }}</td>
                    <td>{{deck.createdAt | date("d/m/Y") }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <p class="card-text">Description : {{ deck.description }}</p>
          <p class="card-text">
            Statut : {% if deck.public == 1 %} public {% else %} privé {%endif%}
          </p>
          <p class="card-text">Tags associés : {{ deck.tags|json_encode() }}</p>

          <p class="h3">
            {% set count = 0 %} {% for card in deck.cards %} {% set count =
            count + 1 %} {% endfor %} 
            {% if count == 0 %}
            <p class="text-info">Pas encore de carte.</p>
            {% else %}
            {{ count }} cartes associées :
          </p>

          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Catégorie</th>
                <th>Créée le</th>
                <th>Voir</th>
              </tr>
            </thead>
            <tbody>
              {% for card in deck.cards%}

              <tr>
                <td>{{ card.id }}</td>
                <td>{{ card.category.name }}</td>
                <td>{{card.createdAt | date("d/m/Y") }}</td>
                <td class="td-actions text-right">
                  <a href="{{ path('admin-card', { id: card.id }) }}"
                    ><button
                      type="button"
                      rel="tooltip"
                      title=""
                      class="btn btn-white btn-link btn-sm"
                    >
                      <i class="material-icons">remove_red_eye</i>
                    </button></a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
          <div class="text-center">
            <form
            method="POST"
            action="{{ path('admin-deck-delete', { id: deck.id }) }}"
            onsubmit="return confirm('Supprimer ce deck ?')"
          >
            <button class="btn btn-danger btn-round">supprimer</button>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body%}
