{% extends './pages/administration/admin.base.html.twig'%} {%block body%}

<div class="content">
  <div class="container-fluid">
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <p class="h4 card-header card-header-info">Nom : {{ deck.name }}</p>

        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Auteur</th>
                    <th>Langue</th>
                    <th>Créée le</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ deck.id }}</td>
                    <td>{{ deck.author.name }}</td>
                    <td>{{ deck.author.languageLearn.name }}</td>
                    <td>{{deck.createdAt | date("d/m/Y") }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <p class="card-text">Description : {{ deck.description }}</p>
          <p class="card-text">
            Statut : {% if deck.public == 1 %} public {% else %} privé {%endif%}
          </p>
          <p class="card-text">
            Tags associés : {{ deck.tags|json_encode() }}
          </p>
          <p class="text-center">
            <a href="#" class="btn btn-danger btn-round">Supprimer</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body%}
