{% extends './pages/administration/admin.base.html.twig'%} {% block title
%}Langues{% endblock %} {% block body %}

<div class="content">
  <div class="container-fluid">
    <div>
      <div class="card">
        <div class="card-header card-header-tabs card-header-warning">
          <p class="h3">
            {% set count = 0 %} {% for language in languagesTable %} {% set
            count = count + 1 %} {% endfor %} {{ count }} langages enregistrés
          </p>
          <p class="card-category">
            <i class="material-icons">add</i>
            <a href="{{ path('language-create') }}">Ajouter</a>
          </p>
        </div>
        <div class="card-body">
          <div class="tab-content table-responsive">
            <div class="tab-panel active">
              <table class="table" id="table">
                <thead>
                  <tr>
                    <th
                      class="text-warning"
                      style="cursor: pointer"
                      onclick="sortTable(0)"
                    >
                      ID<i class="material-icons icon">keyboard_arrow_up</i>
                    </th>
                    <th
                      class="text-warning"
                      style="cursor: pointer"
                      onclick="sortTable(1)"
                    >
                      Nom<i class="material-icons icon">keyboard_arrow_up</i>
                    </th>
                    <th
                      class="text-warning"
                      style="cursor: pointer"
                      onclick="sortTable(2)"
                    >
                      Drapeau<i class="material-icons icon"
                        >keyboard_arrow_up</i
                      >
                    </th>
                    <th class="text-warning">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for language in languages %}
                  <tr>
                    <td>{{ language.id }}</td>
                    <td>
                      <a
                        href="{{
                          path('language-details', { id: language.id })
                        }}"
                        >{{ language.name }}</a
                      >
                    </td>
                    <td>
                      <a
                        href="{{
                          path('language-details', { id: language.id })
                        }}"
                      >
                        {% if language.flag is not null %}
                        <img
                          src="/uploads/images/{{ language.flag }}"
                          width="20px"
                          height="auto"
                          focusable="false"
                          role="img"
                          preserveAspectRatio="xMidYMid slice"
                        />
                        {% else %}
                        <i class="material-icons text-warning">flag</i>
                        {% endif %}</a
                      >
                    </td>
                    <td class="td-actions text-left">
                      <button
                        type="button"
                        rel="tooltip"
                        title="Supprimer"
                        class="btn btn-white btn-link btn-sm"
                      >
                        <a
                          href="{{
                            path('language-edit', { id: language.id })
                          }}"
                          ><i class="material-icons">edit</i></a
                        >
                      </button>
                      <button
                        type="button"
                        rel="tooltip"
                        title="Supprimer"
                        class="btn btn-white btn-link btn-sm"
                      >
                        <a
                          href="{{
                            path('language-delete', { id: language.id })
                          }}"
                          ><i class="material-icons">close</i></a
                        >
                      </button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {{ knp_pagination_render(languages) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
