{% extends './pages/administration/admin.base.html.twig'%} {%block body%}

<div class="content">
  <div class="container-fluid">
    <div>
      <div class="card">
        <div class="card-header card-header-tabs card-header-warning">
          <p class="h3">
            {% set count = 0 %} {% for language in languages %} {% set count =
            count + 1 %} {% endfor %} {{ count }} langages enregistrés
          </p>
          <p class="card-category">
            <i class="material-icons">add</i>
            <a href="{{ path('language-create') }}">Ajouter</a>
          </p>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="profile">
              <table class="table">
                <thead class="text-warning">
                  <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Drapeau</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for language in languages %}
                  <tr>
                    <td>{{ language.id }}</td>
                    <td>{{ language.name }}</td>
                    <td>
                      {% if language.flag is not null%}
                      <img
                        src="/uploads/images/{{ language.flag }}"
                        width="20px"
                        height="auto"
                        focusable="false"
                        role="img"
                        preserveAspectRatio="xMidYMid slice"
                      />{% endif %}
                    </td>

                    <td class="td-actions text-center">
                      <button
                        type="button"
                        rel="tooltip"
                        title="Supprimer"
                        class="btn btn-white btn-link btn-sm"
                      >
                        <a
                          href="{{
                            path('language-edit', { id: language.id })
                          }}"
                          ><i class="material-icons">edit</i></a
                        >
                      </button>
                      <button
                        type="button"
                        rel="tooltip"
                        title="Supprimer"
                        class="btn btn-white btn-link btn-sm"
                      >
                        <a
                          href="{{
                            path('language-delete', { id: language.id })
                          }}"
                          ><i class="material-icons">close</i></a
                        >
                      </button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
