{% extends './pages/administration/admin.base.html.twig'%} {%block body%}

<div class="content">
  <div class="container-fluid">
    <div>
      <div class="card">
        <div class="card-header card-header-tabs card-header-info">
          <div class="nav-tabs-navigation">
            <p class="h3">
              {% set count = 0 %} {% for user in usersTable %} {% set count = count +
              1 %} {% endfor %} {{ count }} utilisateurs inscrits
            </p>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active">
              <table class="table" id="table">
                <thead>
                  <tr>
                    <th class="text-info" style="cursor: pointer" onclick="sortTable(0)">ID<i class="material-icons">import_export</i></th>
                    <th class="text-info" style="cursor: pointer" onclick="sortTable(1)">Rôle<i class="material-icons">import_export</i></th>
                    <th class="text-info" style="cursor: pointer" onclick="sortTable(2)">Nom<i class="material-icons">import_export</i></th>
                    <th class="text-info" style="cursor: pointer" onclick="sortTable(3)">Email<i class="material-icons">import_export</i></th>
                    <th class="text-info" style="cursor: pointer" onclick="sortTable(4)">Langue mat.<i class="material-icons">import_export</i></th>
                    <th class="text-info" style="cursor: pointer" onclick="sortTable(5)">Apprend le<i class="material-icons">import_export</i></th>
                    <th class="text-info" style="cursor: pointer" onclick="sortTable(6)">Inscrit depuis<i class="material-icons">import_export</i></th>
                    <th class="text-info" style="cursor: pointer" onclick="sortTable(7)">Cartes créées<i class="material-icons">import_export</i></th>
                    <th class="text-info" style="cursor: pointer" onclick="sortTable(8)">Decks crées<i class="material-icons">import_export</i></th>
                    <th class="text-info">Voir</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in users %}
                  <tr>
                    <td>{{ user.id }}</td>
                    <td>
                      {% if user.roles[0] == 'ROLE_ADMIN' %} Administrateur {%
                      elseif user.roles[0] == 'ROLE_USER' %} Utilisateur {%
                      endif %}
                    </td>
                    <td>
                      <a href="{{ path('admin-user', { id: user.id }) }}">{{
                        user.name
                      }}</a>
                    </td>
                    <td>{{ user.email }}</td>
                    <td><a href="{{ path('language-details', { id: user.languageNative.id }) }}">{{ user.languageNative.name }}</a></td>
                    <td><a href="{{ path('language-details', { id: user.languageLearn.id }) }}">{{ user.languageLearn.name }}</a></td>
                    <td>{{user.createdAt | date("d/m/Y") }}</td>
                    <td>
                      {% set count = 0 %} {% for card in user.cards %} {% set
                      count = count + 1 %} {% endfor %} {{ count }}
                    </td>
                    <td>
                      {% set count = 0 %} {% for deck in user.decks %} {% set
                      count = count + 1 %} {% endfor %} {{ count }}
                    </td>

                    <td class="td-actions text-right">
                      <a href="{{ path('admin-user', { id: user.id }) }}">
                        <button
                          type="button"
                          rel="tooltip"
                          title=""
                          class="btn btn-white btn-link btn-sm"
                          data-original-title="Edit Task"
                        >
                          <i class="material-icons">remove_red_eye</i>
                        </button>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {{ knp_pagination_render(users) }}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
