{% extends './pages/administration/admin.base.html.twig'%} {%block body%}

<div class="content">
  <div class="container-fluid">
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <p class="h4 card-header card-header-info">Nom : {{ user.name }}</p>

        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Auteur</th>
                    <th>Langue</th>
                    <th>Créée le</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ user.id }}</td>
                    <td>
                      <a href="{{ path('admin-user', { id: user.id }) }}">{{
                        user.name
                      }}</a>
                    </td>
                    <td>{{ user.email }}</td>
                    <td>{{user.createdAt | date("d/m/Y") }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <p class="h3">
            {% set count = 0 %} {% for deck in user.decks %} {% set count =
            count + 1 %} {% endfor %} 
            {% if count == 0 %}
            <p class="text-info">Pas encore de deck.</p>
            {% else %}
            {{ count }} decks créés :
          </p>

          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Catégorie</th>
                <th>Créée le</th>
                <th>Voir</th>
              </tr>
            </thead>
            <tbody>
              {% for deck in user.decks%}

              <tr>
                <td>{{ deck.id }}</td>
                <td>{{ deck.name }}</td>
                <td>{{deck.createdAt | date("d/m/Y") }}</td>
                <td class="td-actions">
                  <a href="{{ path('admin-deck', { id: deck.id }) }}"
                    ><button
                      type="button"
                      rel="tooltip"
                      title=""
                      class="btn btn-white btn-link btn-sm"
                    >
                      <i class="material-icons">remove_red_eye</i>
                    </button></a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
          <p class="h3">
            {% set count = 0 %} {% for card in user.cards %} {% set count =
            count + 1 %} {% endfor %} 
            {% if count == 0 %}
            <p class="text-info">Pas encore de carte.</p>
            {% else %}
            {{ count }} cartes créées :
          </p>
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Catégorie</th>
                <th>Créée le</th>
                <th>Voir</th>
              </tr>
            </thead>
            <tbody>
              {% for card in user.cards%}

              <tr>
                <td>{{ card.id }}</td>
                <td>{{ card.category.name }}</td>
                <td>{{card.createdAt | date("d/m/Y") }}</td>
                <td class="td-actions">
                  <a href="{{ path('admin-card', { id: card.id }) }}"
                    ><button
                      type="button"
                      rel="tooltip"
                      title=""
                      class="btn btn-white btn-link btn-sm"
                    >
                      <i class="material-icons">remove_red_eye</i>
                    </button></a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
          <p class="text-center">
            <a href="#" class="btn btn-danger btn-round">Supprimer</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body%}
